@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.courseContain {
  width: 31%;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #abbed166;
  gap: 16px;
}

.cardsTexts {
  width: 70%;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.cardsTexts h1 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #066fe0;
}

.cardsTexts p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #4d4d4d;
}

.progressBar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.progressBar img {
  width: 247.45px;
  height: 6.2px;
}

.progressBar p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #4d4d4d;
}

.duration {
  display: flex;
  gap: 7px;
  width: 170px;
  align-items: center;
}

.cardContain {
  background-color: #eef5fc;
  width: 35%;
  padding: 16px;
  gap: 16px;
  border-radius: 12px;
}

.imageCourse {
  width: 100%;
  border-radius: 8px;
  height: auto;
}

.headContain {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.headContain h1 {
  width: 296.7px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #0663c7;
}

.innerdiv {
  display: flex;
  gap: 8px;
  align-items: center;
}
.innerdiv p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0663c7;
}
.bodyContain {
  padding-top: 5px;
}

.bodyContain p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justified;
  color: #4d4d4d;
  padding-top: 12px;
  padding-bottom: 16px;
}

.modules {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
}

.modules p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #89939e;
}

.buttonContain {
  display: flex;
  justify-content: space-between;
}

.buttonContain h2 {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #0663c7;
}
.buttonContain button {
  width: 170px;
  padding: 16px 10px 16px 10px;
  border-radius: 8px;
  background-color: #0671e0;
  color: #ffffff;
  border: 0px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
